ul{
	margin:36px;
	padding:20px;
}
h1{
	color:black;
	font-size:70px;
	text-align:center;
}
h2{
	color:black;
	font-size:50px;
	text-align:center;
}
button{
	width: 350px;
	height: 45px;	
}
body{
	background-color:#990000;
}



.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: red;
  padding: 10px;
  width:100%;
  box-sizing: border-box;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 50px 0;
  font-size: 30px;
}

.nav{
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 4;
}

.apply {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 4;
}
.name {
  grid-row-start: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}
.words {
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: 4;
}

.why {
  grid-row-start: 5;
  grid-column-start: 1;
  grid-column-end: 4;
}

.courses{
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: 4;
}
.details {
  grid-row-start: 5;
  grid-column-start: 1;
  grid-column-end: 4;
}
.cv {
  grid-row-start: 6;
  grid-column-start: 1;
  grid-column-end: 4;
}
.submit {
  grid-row-start: 7;
  grid-column-start: 1;
  grid-column-end: 4;
}